html, body {

}
body{
	background: #DA81F5;
}
h1 {
	font-size: 50px;
	color: red;
	position: relative;
	animation: pisca 5s linear 3s infinite alternate;
	height: 50%;

}
.icon {
	width: 40px;
	max-width: 40px;
}

.perfil {
	left: 50%;
	height: 40vh;
	margin-top: 20vh;
	width: 15%;
	border-radius: 50%;
	
	/*height: -800px;*/
}